<footer id="footer" class="footer light-text">
  <div class="container">
    <div class="footer-content row">
      <div class="col-sm-4 col-xs-12">
        <div class="logo-wrapper">
          <img width="130" height="31" src="/assets/img/logo-white.png" alt="logo" />
        </div>
        <p>{{ 'footer.description' | translate }}</p>
      </div>
      <div class="col-sm-5 social-wrap col-xs-12">
        <strong class="heading">{{ 'footer.follow' | translate }}</strong>
        <ul class="list-inline socials">
          <li><a href="https://www.twitter.com/hatbarcelona" target="_blank" title="Twitter"><span class="social fa fa-twitter" style="line-height: 30px; font-size: 30px;"></span></a></li>
          <li><a href="https://www.facebook.com/hatbarcelona" target="_blank" title="Facebook"><span class="social fa fa-facebook" style="line-height: 30px; font-size: 30px;"></span></a></li>
          <li><a href="https://plus.google.com/113058497764540991286/about" target="_blank" title="Google Plus"><span class="social fa fa-google-plus" style="line-height: 30px; font-size: 30px;"></span></a></li>
          <li><a href="https://www.instagram.com/hatbarcelona/" target="_blank" title="Instagram"><span class="social fa fa-instagram" style="line-height: 30px; font-size: 30px;"></span></a></li>
          <li><a href="https://www.tripadvisor.co.uk/Attraction_Review-g187497-d10449757-Reviews-HAT_Barcelona_Tours-Barcelona_Catalonia.html" target="_blank" title="Tripadvisor"><img src="/assets/img/logos/tripadvisor.png"/></a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <strong class="heading">{{ 'footer.contact_us' | translate }}</strong>
        <ul class="list-unstyled">
          <li><span class="icon icon-chat-messages-14"></span><a href="mailto:{{ 'footer.email' | translate }}">{{ 'footer.email' | translate }}</a></li>
          <li><span class="icon icon-seo-icons-34"></span>{{ 'footer.adress' | translate }} <br/>{{ 'footer.location' | translate }}</li>
          <li>
            <span class="icon icon-seo-icons-17"></span>
            <a href="tel:0034679400576">{{ 'footer.phone_1' | translate }}</a><br/>
            <a href="tel:0034644282929">{{ 'footer.phone_2' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">{{ 'footer.copyright' | translate }} {{ 'footer.all_rights_reserved' | translate }}</div>
</footer>
