<section id="gallery" class="section dark-text gallery-block">
  <div class="container">
    <div class="row gallery">
      {% assign images = '1,2,3,4,5,6,7,8,9,10,11,12' | split: ','%}

      {% for image in images %}
      <div class="col-md-4 col-sm-4 col-xs-6" style="margin-top: 30px">
        <a href="/assets/img/gallery/{{ image }}.jpg">
          <img src="/assets/img/gallery/thumbnails/{{ image }}.jpg" class="img-responsive" alt="thumb" />
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
