<!-- Header -->
<header class="{% if include.fixed %} fixed-menu{% endif %}">
  <nav class="navigation navigation-header">
    <div class="container">
        <div class="navigation-brand">
          <div class="brand-logo">
            <a href="/{{ page.locale }}" class="logo"></a><a href="/{{ page.locale }}" class="logo logo-alt"></a>
          </div>
        </div>
      <button class="navigation-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navigation-navbar collapsed">
        <ul class="navigation-bar navigation-bar-left">
          {% assign regular = 'regular.types' | section %}
          {% assign private = 'private.types' | section %}

          <li><a href="/{{ page.locale }}">{{ 'home.title' | translate }}</a></li>
          <li><a class="{% if page.section == 'regular.types' %}hightlight{% endif %}" href="{{ regular.permalink }}">{{ 'regular_tours.title' | translate }}</a></li>
          <li><a class="{% if page.section == 'private.types' %}hightlight{% endif %}" href="{{ private.permalink }}">{{ 'private_tours.title' | translate }}</a></li>
          <li><a href="/{{ page.locale }}#gallery">{{ 'gallery.title' | translate }}</a></li>
          <li><a href="/{{ page.locale }}#footer">{{ 'contact.title' | translate }}</a></li>
        </ul>

        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="color: white; border: 0;">{{ 'locales.label' | translate }}<span class="caret"><i class="fa fa-angle-down" style="color: white;"></i></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li><a role="menuitem" tabindex="-1" href="/en">{{ 'locales.en' | translate }}</a></li>
            <li><a role="menuitem" tabindex="-1" href="/es">{{ 'locales.es' | translate }}</a></li>
            <li><a role="menuitem" tabindex="-1" href="/ca">{{ 'locales.ca' | translate }}</a></li>
          </ul>
        </div>

        <div class="navigation-bar navigation-bar-right navigation-call-to-action">
          <a href="https://www.eventbrite.co.uk/o/hat-barcelona-tours-11099973698" class="btn btn-sm btn-solid base_clr_bg" target="_blank">{{ 'packages.price_button' | translate }}</a>
        </div>
      </div>
    </div>
  </nav>
</header>
