<!-- Header -->
<header>
  <nav class="navigation navigation-header">
    <div class="container">
      <div class="navigation-brand">
        <div class="brand-logo">
          <a href="/{{ page.locale }}" class="logo"></a><a href="/{{ page.locale }}" class="logo logo-alt"></a>
        </div>
      </div>
      <button class="navigation-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navigation-navbar collapsed">
        <ul class="navigation-bar navigation-bar-left">
          <li><a href="/{{ page.locale }}#home">{{ 'home.title' | translate }}</a></li>
          <li><a href="/{{ page.locale }}#tour">{{ 'tour.title' | translate }}</a></li>
          <li><a href="/{{ page.locale }}#prices">{{ 'prices.title' | translate }}</a></li>
          <li><a href="/{{ page.locale }}#gallery">{{ 'gallery.title' | translate }}</a></li>
          <li><a href="/{{ page.locale }}#footer">{{ 'contact.title' | translate }}</a></li>
        </ul>

        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="color: white; border: 0;">{{ 'locales.label' | translate }}<span class="caret"><i class="fa fa-angle-down" style="color: white;"></i></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li><a role="menuitem" tabindex="-1" href="/en">{{ 'locales.en' | translate }}</a></li>
            <li><a role="menuitem" tabindex="-1" href="/es">{{ 'locales.es' | translate }}</a></li>
            <li><a role="menuitem" tabindex="-1" href="/ca">{{ 'locales.ca' | translate }}</a></li>
          </ul>
        </div>

        <div class="navigation-bar navigation-bar-right navigation-call-to-action">
          {% assign private = 'alella.private' | section %}
          <a href="{{ private.permalink }}" class="btn btn-sm btn-outline-color base_clr_txt base_clr_bg base_clr_brd">{{ 'private.title' | translate }}</a>
          <a href="https://www.eventbrite.es/e/entradas-wine-exclusive-tour-25751578665" class="btn btn-sm btn-solid base_clr_bg" target="_blank">{{ 'packages.price_button' | translate }}</a>
        </div>
      </div>
    </div>
  </nav>
</header>
