<div class="container">
  <div class="row" style="margin-bottom: 80px">
    <div class="col-md-3 align-center">
      <a href="https://experience.catalunya.com/en/experiencias/catalan-wine-cuisine-in-alella/" target="_blank"><img src="/assets/img/logos/logo-1.png" alt="The Green Vintage" /></a>
    </div>
    <div class="col-md-3 align-center">
      <a href="http://www.alella.cat/turisme" target="_blank"><img src="/assets/img/logos/logo-2.png" alt="Ajuntament d'Alella" /></a>
    </div>
    <div class="col-md-3 align-center">
      <a href="http://www.costadebarcelonamaresme.cat" target="_blank"><img src="/assets/img/logos/logo-3.png" alt="Costa Barcelona" /></a>
    </div>
    <div class="col-md-3 align-center">
      <a href="http://www.barcelonaturisme.com" target="_blank"><img src="/assets/img/logos/logo-4.png" alt="Barcelona Turisme Member" /></a>
    </div>
  </div>
</div>
