<section id="newsletter" class="long-block newsletter-section light-text">
  <div class="container align-center">
    <div class="col-sm-12 col-lg-5 animated" data-animation="fadeInLeft" data-duration="500">
      <article>
        <h2>{{ 'updates.line.title' | translate }}</h2>
        <p class="">{{ 'updates.line.subtitle' | translate }}</p>
      </article>
    </div>
    <div class="col-sm-12 col-lg-7 animated" data-animation="fadeInRight" data-duration="500">
      <form action="https://hatbarcelona.us13.list-manage.com/subscribe/post?u=e3fabadda4d6179e2f8bca75b&amp;id=655dc0852b" method="post" id="mc-embedded-subscribe-form2" name="mc-embedded-subscribe-form2" class="validate mailchimp-form" target="_blank" novalidate>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e3fabadda4d6179e2f8bca75b_655dc0852b" tabindex="-1" value=""></div>
        <div class="form-group col-sm-4 col-xs-12">
          <input id="fullname" type="text" name="FULLNAME" class="form-control required" placeholder="{{ 'updates.line.fullname' | translate }}">
        </div>

        <div class="form-group col-sm-4 col-xs-12">
          <input id="email" type="email" name="EMAIL" class="form-control required email" placeholder="{{ 'updates.line.email' | translate }}">
        </div>
        <div class="form-group col-sm-4 col-xs-12">
          <input type="hidden" name="small-form"/>
          <button type="submit" class="btn btn-outline base_clr_txt">{{ 'updates.line.button' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</section>
