<section id="about" class="section about-section align-center dark-text">
  <div class="container">
    <div class="section-content row">
      <div class="col-sm-3">
        <article class="align-center">
          <i class="howitworks icon icon-seo-icons-31 highlight"></i>
          <span class="heading" style="text-transform: uppercase">{{ 'private.icone.title_1' | translate }}</span>
          <p class="thin" >{{ 'private.icone.description_1' | translate }}</p>
        </article>
      </div>
      <div class="col-sm-3">
        <article class="align-center">
          <i class="howitworks icon icon-socialmedia-25 highlight"></i>
          <span class="heading" style="text-transform: uppercase">{{ 'private.icone.title_2' | translate }}</span>
          <p class="thin" >{{ 'private.icone.description_2' | translate }}</p>
        </article>
      </div>
      <div class="col-sm-3">
        <article class="align-center">
          <i class="howitworks icon icon-education-science-14 highlight"></i>
          <span class="heading" style="text-transform: uppercase">{{ 'private.icone.title_3' | translate }}</span>
          <p class="thin" >{{ 'private.icone.description_3' | translate }}</p>
        </article>
      </div>
      <div class="col-sm-3">
        <article class="align-center">
          <i class="howitworks icon icon-faces-users-04 highlight"></i>
          <span class="heading" style="text-transform: uppercase">{{ 'private.icone.title_4' | translate }}</span>
          <p class="thin" >{{ 'private.icone.description_4' | translate }}</p>
        </article>
      </div>
    </div>
  </div>
</section>
