<div id="home" class="light-text form-section form-section1 clearfix" style="min-height: 68vh">
  <div class="container centered-block">
    <div class="heading-block align-center">
      <h1 style="margin-top: 100px; font-weight: 400; font-size: 70px;">{{ 'private.home.front_title' | translate }}</h1>
      <h5 style="margin-bottom: 33px;">{{ 'private.home.front_description' | translate }}</h5>
    </div>
    <div class="align-center">
      <div class="row">
        <a href="https://www.eventbrite.es/e/entradas-wine-exclusive-tour-25751578665" class="btn btn-lg btn-solid base_clr_bg" target="_blank">{{ 'packages.price_button' | translate }}</a>
      </div>
      <div class="row" style="margin: 10px 0px; display: none;">
        {% assign private = 'alella.private' | section %}
        <p>
          {{ 'home.or_private' | translate }}
          <a href="{{ private.permalink }}" style="color: white">{{ 'home.private_button' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
