<section class="section">
  <div class="container">
    <div class="row" style="margin: 100px 0px 0px; text-transform: uppercase;">
      <div class="col-md-12 align-center">
        <h2>{{ 'types.title' | translate }}</h2>
      </div>
    </div>
  </div>
</section>

<section class="section align-center dark-text">
  <div class="container">

    {% assign private_types = 'private.types' | section %}
    {% assign tour_groups = site.data.private | in_groups_of: 2 %}
    {% for tour_group in tour_groups %}
    <div class="section-content row" style="margin-bottom: 60px;">
      {% for tour in tour_group %}
      <div class="col-sm-6">

        <a href="{{ private_types.permalink }}{{ tour | field: 'title' | slugify }}">
          {% assign filename = tour.photo1 %}
          <img src="/assets/img/gallery/{{ filename }}" class="img-responsive"  title="{{ tour | field: 'title'}}" alt="{{ tour | field: 'title'}}" />
        </a>

        <article>
          <h3>{{ tour | field: 'title'}}</h3>
          <p class="sub-title medium">{{ tour | field: 'subtitle'}}</p>
        </article>

        <a class="btn btn-sm btn-solid base_clr_bg" href="{{ private_types.permalink }}{{ tour | field: 'title' | slugify }}">{{ 'generic.more_info' | translate }}</a>
      </div>
      {% endfor %}
    </div> <!-- /row -->
    {% endfor %}

  </div>
</section>
