<section id="product" class="section">
  <div class="container">
    <div class="row" style="margin-bottom: 80px">
      <div class="col-md-12 align-center">
        <h2>{{ 'product.title' | translate }}</h2>
      </div>
    </div>
    <div class="row" style="margin-bottom: 80px">
      <div class="col-md-6 align-center">
        <p class="sub-title big">{{ 'product.description' | translate }}</p>
      </div>
      <div class="col-md-6 align-center">
        <div class="responsive-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/6hwq4cIPA5U" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 80px">
      <div class="col-md-12 align-center">
        <h3>{{ 'product.slogan' | translate }}</h3>
      </div>
    </div>
  </div>
</section>

