<section id="sc-longblock" class="section light-text long-block">
  <div class="container">
    <div class="col-lg-12 align-center">
      <i class="icon icon-travel-transportation-16 pull-left"></i>
      <h2>{{ 'types.title' | translate }}</h2>
    </div>
  </div>
</section>

<section id="tour" class="section process-section align-center dark-text">
  <div class="container">

    {% assign tour_groups = site.data.regulars | in_groups_of: 2 %}
    {% for tour_group in tour_groups %}
    <br/><br/>
    <div class="section-content row">
      {% for tour in tour_group %}
      <div class="col-sm-6">
        <img src="/assets/img/features/content_image2.jpg" class="img-responsive" title="{{ 'itinerary.title_2' | translate: nil, false, false }}" alt="{{ 'itinerary.title_2' | translate: nil, false, false }}" />
        <article>
          <h3>{{ tour | field: 'title'}}</h3>
          <p class="sub-title medium">{{ tour | field: 'subtitle'}}</p>
        </article>
        <a class="btn btn-sm btn-solid base_clr_bg" href="/{{ page.locale}}/tours/regulars/{{ tour | field: 'title' | slugify }}">{{ 'generic.more_info' | translate }}</a>
      </div>
      {% endfor %}
    </div> <!-- /row -->
    {% endfor %}

  </div>
</section>
