<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>{{ 'meta.title' | translate }}</title>
    <meta name="description" content="{{ 'meta.description' | translate }}">
    <meta name="keywords" content="{{ 'meta.keywords' | translate }}">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.jpg">
    <link rel="stylesheet" type="text/css" href="assets/css/custom-animations.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/lib/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="landing-page" class="landing-page">
    <!-- Preloader -->
    <div class="preloader-mask">
      <div class="preloader"><div class="spin base_clr_brd"><div class="clip left"><div class="circle"></div></div><div class="gap"><div class="circle"></div></div><div class="clip right"><div class="circle"></div></div></div></div>
    </div>

    <!-- Header -->
    <header>
      <nav class="navigation navigation-header">
        <div class="container">
          <div class="navigation-brand">
            <div class="brand-logo">
              <a href="index.html" class="logo"></a><a href="index.html" class="logo logo-alt"></a>
            </div>
          </div>
          <button class="navigation-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navigation-navbar collapsed">
            <ul class="navigation-bar navigation-bar-left">
              <li><a href="#home">{{ 'home.title' | translate }}</a></li>
              <li><a href="#tour">{{ 'tour.title' | translate }}</a></li>
              <li><a href="#prices">{{ 'prices.title' | translate }}</a></li>
              <li><a href="#gallery">{{ 'gallery.title' | translate }}</a></li>
              <li><a href="#feedback">{{ 'contact.title' | translate }}</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <div id="home" class="light-text form-section form-section1 clearfix" style="min-height: 68vh">
      <div class="container centered-block">
        <div class="heading-block align-center">
          <h1>{{ 'home.front_title' | translate }}</h1>
          <h5 style="margin-bottom: 33px;">{{ 'home.front_description' | translate }}</h5>
        </div>
        <div class="align-center">
          <div class="row">
            <form class="form form-dark" method="post" action="signup.php">
              <div class="form-group col-sm-4 col-xs-12">
                <input id="fullname" type="text" name="fullname" class="form-control required" placeholder="{{ 'newsletter.front_name' | translate }}" autofocus>
              </div>

              <div class="form-group col-sm-4 col-xs-12">
                <input id="email" type="email" name="email" class="form-control required email" placeholder="{{ 'newsletter.front_email' | translate }}">
              </div>
              <div class="form-group col-sm-4 col-xs-12">
                <input type="hidden" name="small-form"/>
                <button type="submit" class="btn btn-solid">{{ 'newsletter.button' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <section id="about" class="section about-section align-center dark-text">
      <div class="container">
        <div class="section-content row">
          <div class="col-sm-3">
            <article class="align-center">
              <i class="howitworks icon icon-shopping-04 highlight"></i>
              <span class="heading" style="text-transform: uppercase">{{ 'icone.title_1' | translate }}</span>
              <p class="thin" >{{ 'icone.description_1' | translate }}</p>
            </article>
          </div>
          <div class="col-sm-3">
            <article class="align-center">
              <i class="howitworks icon icon-seo-icons-03 highlight"></i>
              <span class="heading" style="text-transform: uppercase">{{ 'icone.title_2' | translate }}</span>
              <p class="thin" >{{ 'icone.description_2' | translate }}</p>
            </article>
          </div>
          <div class="col-sm-3">
            <article class="align-center">
              <i class="howitworks icon icon-seo-icons-05 highlight"></i>
              <span class="heading" style="text-transform: uppercase">{{ 'icone.title_3' | translate }}</span>
              <p class="thin" >{{ 'icone.description_3' | translate }}</p>
            </article>
          </div>
          <div class="col-sm-3">
            <article class="align-center">
              <i class="howitworks icon icon-seo-icons-05 highlight"></i>
              <span class="heading" style="text-transform: uppercase">{{ 'icone.title_4' | translate }}</span>
              <p class="thin" >{{ 'icone.description_4' | translate }}</p>
            </article>
          </div>
        </div>
      </div>
    </section>

    <hr class="no-margin" />

    <section id="product">
      <div class="container centered-block">
        <div class="heading-block align-center">
          <h3>{{ 'product.title' | translate }}</h3>
          <h5 style="margin-bottom: 33px;"></h5>
          <p class="sub-title big">{{ 'product.description' | translate }}</p>
        </div>
      </div>
    </div>
    </section>

    <section id="sc-longblock" class="section light-text long-block">
      <div class="container">
        <div class="col-lg-12">
          <i class="icon icon-seo-icons-24 pull-left"></i>
          <h2>{{ 'blue.line' | translate }}</h2>
          <p class="thin">With icon of without icon and with nice button</p>
        </div>
      </div>
    </section>

    <section id="tour" class="section process-section align-center dark-text">
      <div class="container">
        <div class="section-content row">
          <div class="col-sm-6 pull-right animated" data-duration="500" data-animation="fadeIn">
            <img src="assets/img/features/content_image1.jpg" class="img-responsive" alt="{{ 'itinerary.tile_1' | translate }}" />
          </div>
          <div class="col-sm-6 align-left animated" data-duration="500" data-animation="fadeIn">
            <br/><br/>
            <article>
              <h3>{{ 'itinerary.tile_1' | translate }}</h3>
              <p class="sub-title">{{ 'itinerary.description_1' | translate }}</p>
            </article>
          </div>

          <hr class="clearfix" />

          <div class="col-sm-6 animated" data-duration="500" data-animation="fadeIn">
            <img src="assets/img/features/content_image2.jpg" class="img-responsive" alt="{{ 'itinerary.tile_2' | translate }}" />
          </div>
          <div class="col-sm-6 align-right animated" data-duration="500" data-animation="fadeIn">
            <br/><br/>
            <article>
              <h3>{{ 'itinerary.tile_2' | translate }}</h3>
              <p class="sub-title">{{ 'itinerary.description_2' | translate }}</p>
            </article>
          </div>

          <hr class="clearfix" />

          <div class="col-sm-6 pull-right animated" data-duration="500" data-animation="fadeIn">
            <img src="assets/img/features/content_image3.jpg" class="img-responsive" alt="{{ 'itinerary.tile_3' | translate }}" />
          </div>
          <div class="col-sm-6 align-left animated" data-duration="500" data-animation="fadeIn">
            <br/><br/>
            <article>
              <h3>{{ 'itinerary.tile_3' | translate }}</h3>
              <p class="sub-title">{{ 'itinerary.description_3' | translate }}</p>
            </article>
          </div>

          <hr class="clearfix" />

          <div class="col-sm-6 animated" data-duration="500" data-animation="fadeIn">
            <img src="assets/img/features/content_image4.jpg" class="img-responsive" alt="{{ 'itinerary.tile_4' | translate }}" />
          </div>
          <div class="col-sm-6 align-right animated" data-duration="500" data-animation="fadeIn">
            <br/><br/>
            <article>
              <h3>{{ 'itinerary.tile_4' | translate }}</h3>
              <p class="sub-title">{{ 'itinerary.description_4' | translate }}</p>
              <a class="btn btn-sm btn-solid base_clr_bg" href="#">{{ 'itinerary.button_4' | translate }}</a>
            </article>
          </div>

        </div>
      </div>
    </section>

    <section id="guarantee" class="long-block light-text guarantee-section">
      <div class="container">
        <div class="col-md-12 col-lg-9">
          <i class="icon icon-seo-icons-24 pull-left"></i>
          <article class="pull-left">
            <h2>{{ 'map.title' | translate }}</h2>
            <p class="thin">{{ 'map.description' | translate }}</p>
          </article>
        </div>

        <div class="col-md-12 col-lg-3">
          <a href="http://themeforest.net/item/startuply-responsive-multipurpose-landing-page/7953388" class="btn btn-outline" style="margin-top: 7px;">Get this template</a>
        </div>
      </div>
    </section>

    <div id="map-canvas" style="width: 100%; height: 400px;"></div>

    <section id="prices" class="section product-section align-center dark-text animated" data-animation="fadeInUp" data-duration="500">
      <div class="container">
        <div class="section-header">
          <h2>{{ 'packages.title' | translate }}</h2>
          <p class="sub-header"> {{ 'packages.description' | translate }} </p>
        </div>
        <div class="section-content row">

          {% for package in site.data.packages %}
          <div class="col-sm-4">
            <div class="package-column">
              <div class="package-title">{{ package | translate: 'title'}}</div>
              <div class="package-price">
                <div class="price">{{ package.price }} <span class="currency">&euro;</span></div>
                <div class="period">{{ 'packages.price_vat' | translate }}</div>
              </div>
              <div class="package-detail">
                {% assign included = package | translate: 'included' | newline_to_br | split: '<br />' %}
                <ul class="list-unstyled">
                  {% for item in included %}
                  <li>
                    {{ item }}
                  </li>
                  {% endfor %}
                </ul>
                <a href="#" class="btn btn-outline-color btn-block">{{ 'packages.price_button' | translate }}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section id="newsletter" class="long-block newsletter-section light-text">
      <div class="container align-center">
        <div class="col-sm-12 col-lg-5 animated" data-animation="fadeInLeft" data-duration="500">
          <article>
            <h2>{{ 'updates.line_title' | translate }}</h2>
            <p class="">{{ 'updates.line_subtitle' | translate }}</p>
          </article>
        </div>
        <div class="col-sm-12 col-lg-7 animated" data-animation="fadeInRight" data-duration="500">
          <form class="form mailchimp-form subscribe-form" style="padding-top: 10px;" action="<?=$_SERVER['PHP_SELF']; ?>" method="post">
            <div class="form-group form-inline">
              <input size="15" type="text" class="form-control required" name="FULLNAME" placeholder="{{ 'updates.line_title_button' | translate }}" />
              <input size="25" type="email" class="form-control required" name="EMAIL" placeholder="{{ 'updates.line.button_name' | translate }}" />
              <input type="submit" class="btn btn-outline" value="{{ 'updates.line_title_button' | translate }}" />
              <span class="response"><? require_once('assets/mailchimp/inc/store-address.php'); if($_GET['submit']){ echo storeAddress(); } ?></span>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section id="gallery" class="section dark-text gallery-block">
      <div class="container">
        <h3 class="text-center">{{ 'gallery.title' | translate }}</h3>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <a href="#" class="thumb-wrapper">
              <div class="overlay">Image Title Image Title Image Title</div>
              <img src="assets/img/gallery/thumb-1.jpg" class="img-responsive" alt="thumb" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <a href="#" class="thumb-wrapper">
              <div class="overlay">Image Title</div>
              <img src="assets/img/gallery/thumb-2.jpg" class="img-responsive" alt="thumb" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <a href="#" class="thumb-wrapper">
              <div class="overlay">Image Title</div>
              <img src="assets/img/gallery/thumb-3.jpg" class="img-responsive" alt="thumb" />
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <a href="#" class="thumb-wrapper">
              <div class="overlay">Image Title</div>
              <img src="assets/img/gallery/thumb-4.jpg" class="img-responsive" alt="thumb" />
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer" class="footer light-text" style="background-image: url('assets/img/background/form-bg1.jpg')">
      <div class="container">
        <div class="footer-content row">
          <div class="col-sm-4 col-xs-12">
            <div class="logo-wrapper">
              <img width="130" height="31" src="assets/img/logo-white.png" alt="logo" />
            </div>
            <p>{{ 'footer.description' | translate }}</p>
          </div>
          <div class="col-sm-5 social-wrap col-xs-12">
            <strong class="heading">{{ 'footer.follow' | translate }}</strong>
            <ul class="list-inline socials">
              <li><a href="#"><span class="icon icon-socialmedia-08"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-09"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-16"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-04"></span></a></li>
            </ul>
            <ul class="list-inline socials">
              <li><a href="#"><span class="icon icon-socialmedia-07"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-16"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-09"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-08"></span></a></li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-12">
            <strong class="heading">{{ 'footer.contact_us' | translate }}</strong>
            <ul class="list-unstyled">
              <li><span class="icon icon-chat-messages-14"></span><a href="mailto:info@startup.ly">{{ 'footer.email' | translate }}</a></li>
              <li><span class="icon icon-seo-icons-34"></span>{{ 'footer.adress' | translate }} {{ 'footer.location' | translate }}</li>
              <li><span class="icon icon-seo-icons-17"></span>{{ 'footer.phone' | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">{{ 'footer.copyright' | translate }} {{ 'footer.all_rights_reserved' | translate }}</div>
    </footer>

    <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>

      <!--[if lt IE 9]>
      <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js?ver=1"></script>
      <![endif]-->
      <!--[if (gte IE 9) | (!IE)]><!-->
      <script type="text/javascript" src="assets/js/jquery-2.1.4.min.js?ver=1"></script>
      <!--<![endif]-->

      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script>
      <script type="text/javascript" src="assets/js/jquery.appear.js"></script>
      <script type="text/javascript" src="assets/js/jquery.plugin.js"></script>
      <script type="text/javascript" src="assets/js/jquery.countdown.js"></script>
      <script type="text/javascript" src="assets/js/jquery.waypoints.min.js"></script>
      <script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
      <script type="text/javascript" src="assets/js/toastr.min.js"></script>
      <script type="text/javascript" src="assets/js/startuply.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
      <script type="text/javascript">
          var myLatlng;
          var map;
          var marker;

          function initialize() {
              myLatlng = new google.maps.LatLng(41.3861161,2.170571);

              var mapOptions = {
                  zoom: 17,
                  center: myLatlng,
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  scrollwheel: false,
                  draggable: false
              };
              map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

              var contentString = '<p style="line-height: 20px;">{{ 'map.description' | translate }}</p>';

              var infowindow = new google.maps.InfoWindow({
                  content: contentString
              });

              marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title: 'Marker'
              });

              google.maps.event.addListener(marker, 'click', function() {
                  infowindow.open(map, marker);
              });
          }

          google.maps.event.addDomListener(window, 'load', initialize);
      </script>
  </body>
</html>
