---
layout: default
section: regular
---

{% include header.html breadcrumb=true %}
{% include front.html %}
{% include icons.html %}

{% assign simple = page.tour | field: 'description' | strip_newlines %}

{% if simple == "" %}
  {% include regulars/itinerary-hat-alella-tour.html %}
{% else %}
  {% include itinerary.html %}
{% endif %}

{% include map.html %}
{% include details.html %}
{% include prices.html type=page.tour.key %}
{% include newsletter.html %}
{% include gallery-tour.html %}
{% include logos.html %}
{% include back-to-top.html %}

{% include json-ld-product.html %}
