<div id="home" class="light-text form-section form-section1 clearfix" style="min-height: 70vh">
  <div class="container centered-block">
    <div class="heading-block align-center">
      <img class="front-logo" src="/assets/img/logos/hat-3.png">
      <h5 style="margin-bottom: 33px;">{{ 'home.front_description' | translate }}</h5>
    </div>
    <div class="align-center">
      {% assign types = 'private' | section %}
      <a class="btn btn-lg btn-solid base_clr_bg" href="{{ private.permalink }}" style="margin-bottom: 10px;">{{ 'home.private.button' | translate }}</a>
      {% assign event = 'events' | section %}
      <a class="btn btn-lg btn-solid base_clr_bg" href="{{ event.permalink }}" style="margin-bottom: 10px;">{{ 'events.title' | translate }}</a>
    </div>
  </div>
</div>

