<section id="sc-longblock" class="section light-text long-block">
  <div class="container">
    <div class="col-lg-12">
      <i class="icon icon-travel-transportation-16 pull-left"></i>
      <h2>{{ 'types.title' | translate }}</h2>
      <p class="thin">{{ 'types.subtitle' | translate | newline_to_br }}</p>
    </div>
  </div>
</section>

<section id="tour" class="section align-center dark-text" style="margin-top: 20px;">
  <div class="container">
    <div class="section-content row">
      <div class="col-sm-6 align-center">
        <img src="/assets/img/features/content_image1.jpg" class="img-responsive" title="{{ 'types.private.title' | translate: nil, false, false }}" alt="{{ 'types.private.title' | translate: nil, false, false }}" />
        <br/>
        <article>
          <h3>{{ 'types.private.title' | translate }}</h3>
          <p class="sub-title medium">{{ 'types.private.description' | translate }}</p>
        </article>
        <br/>
        {% assign private = 'private.types' | section %}
        <a class="btn btn-sm btn-solid base_clr_bg" href="{{ private.permalink }}">{{ 'generic.more_info' | translate }}</a>
      </div>
      <div class="col-sm-6 align-center">
        <img src="/assets/img/features/content_image2.jpg" class="img-responsive" title="{{ 'types.regulars.title' | translate: nil, false, false }}" alt="{{ 'types.regulars.title' | translate: nil, false, false }}" />
        <br/>
        <article>
          <h3>{{ 'events.title' | translate }}</h3>
          <p class="sub-title medium">{{ 'events.subtitle' | translate }}</p>
        </article>
        <br/>
        {% assign event = 'events' | section %}
        <a class="btn btn-sm btn-solid base_clr_bg" href="{{ event.permalink }}">{{ 'generic.more_info' | translate }}</a>
      </div>
    </div>
  </div>
</section>
